# Node 
node_modules/
dist/
dist-ssr
*.local

# Python 
venv/
__pycache__/
*.py[cod]
*$py.class
*.xlsx
scraped_data.xlsx

# IDE
.vscode/
.idea/
.DS_Store

# Debug & Scraper State
*_debug.html
goodreads_*.html
backend/scratch/
keyword_state_*.json
backend/user_data/

